/*Styles*/

body{
     margin: 0; 
}

.avatar{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.head{
        box-shadow: 0 0 40px rgba(238, 238, 238, 0.3);
        background-color: #0C1D2E;
        left: 0%;
        position: fixed;
        right: 0;
        top: 0;
        height: 11%;
        text-align: center;
        font-size:18px;
}

.text {
    /*border: 1px solid gray;*/
    margin-bottom:5%;
    margin-right:7%;
    margin-left:7%;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.content{      
        margin-top:5.2%;
        margin-left: 5%;
        margin-right:5%;
        padding: 20px;
        font-size: 22px;
        font: 'Montesserat';
        box-shadow:1px 1px 1px #909090;
        border:1px solid rgba(77, 76, 76, 0.8);
        border-radius: 2%;
        color: #000;
             
}

.footer{
        position: fixed;
        bottom: 0;
        width:100%;
        background-color:#0C1D2E;
        color: #f1f1f1;
        text-align: center;
        font-size:18px;
                
}

/* button styles */
button {
    background-color: rgb(3,28,97);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}


.triangle{
    width: 0;
    height: 0;
    border: solid 350px;
    border-color: #ffff transparent transparent transparent;
    border-width: 200px 550px;
    left: 8%;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    font-size:18px;
}