/*Styles*/

body{
     margin: 0;
     background-color: #fff;  
}

.avatar{
    vertical-align: middle;
    width: 5%;
    height: 5%;
    border-radius: 50%;
}

.triangle{
    width: 0;
    height: 0;
    border: solid 350px;
    border-color: gray transparent transparent transparent;
    border-width: 200px 550px;
    /*test*/
    box-shadow: 0 0 40px rgba(0,0,0,.3);
    left: 0%;
    position: relative;
    right: 0;
    top: 0;
    color:#fff;
    text-align: center;
    font-size:18px;
}

.head{
        background: #ccc;
        box-shadow: 0 0 40px rgba(0,0,0,.3);
        left: 0%;
        position: fixed;
        right: 0;
        top: 0;
        color:#fff;
        text-align: center;
        font-size:18px;
}

.text {
    /*border: 1px solid gray;*/
    margin-bottom:20px;
    margin-right:80px;
    margin-left:50px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.content{      
             margin-top:5%;
             margin-left: 15%;
             margin-right:15%;
             padding: 20px;
             font-size: 18px ;
             font:'Arial' sans-serif;
             box-shadow:2px 2px 2px#f1f1f1;
             border:1px solid #cccc;
             background: #ccc;
             color: #000;
             
}

.footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        background-color:#ccc;
        color:#000;
        text-align: center;
        font-size:24;
                
}

/* button styles */
button {
    background-color: rgb(3,28,97);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}
